server:
  servlet:
    context-path: /api

spring:
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 1000
  application:
    name: aiot-api
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/aiot
    username: ${DB_USERNAME:pluxity}
    password: ${DB_PASSWORD:pluxity0304}
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update #FIXME: flyway 사용하면 여기 바꿔야함
    properties:
      hibernate:
        default_batch_fetch_size: 100

domain:
  url: ${API_URL:}

influx:
  url: http://${INFLUX_HOST:localhost}:8086
  token: ${INFLUX_TOKEN:PxevysKSGHQQfl-1E65Kh-fgNeuz-didiMUzcpRV85eX30VNZQLUDnCeUE0c3ZoGdRZ1oHVClS_tPLfskfcEgA==}
  org: pluxity
  bucket: aiot-bucket

mediamtx:
  api-url: ${MEDIAMTX_API_URL:http://192.168.10.181:8107}
  view-url: ${MEDIAMTX_VIEW_URL:http://192.168.10.181:8106}

file:
  storage-strategy: ${FILE_STORAGE_STRATEGY:s3}
  local:
    path: ${FILE_LOCAL_PATH:/app/upload}
  s3:
    endpoint-url: ${S3_ENDPOINT_URL:http://minio:9000}
    public-url: ${S3_PUBLIC_URL:http://localhost/files}
    bucket: ${S3_BUCKET:aiot-bucket}
    region: ${S3_REGION:ap-northeast-2}
    access-key: ${S3_ACCESS_KEY:pluxity}
    secret-key: ${S3_SECRET_KEY:pluxity0304}
    pre-signed-url-expiration: 600

springwolf: # socket documentation ui
  enabled: true
  docket:
    default-content-type: application/json
    base-package: com.pluxity
    servers:
      stomp:
        protocol: stomp
        host: ${API_URL:}/stomp/platform
    info:
      title: AIoT AsyncAPI Documentation
      version: 1.0.0
      description: AsyncAPI Documentation using Springwolf
  plugin:
    stomp:
      endpoint:
        app: /app
