name: Deploy AIoT API (Docker)

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t aiot-api:latest .

      - name: Save Docker image to tar
        run: |
          pwd
          ls -al
          docker save aiot-api:latest -o aiot-api.tar
          chmod 644 aiot-api.tar
          echo "==== after docker save ===="
          ls -al
          ls -al aiot-api.tar

      - name: Upload Docker image tar to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.PLX_DEV_DOMAIN }}
          username: ${{ secrets.PLX_DEV_USER }}
          password: ${{ secrets.PLX_DEV_PASSWORD }}
          port: ${{ secrets.PLX_DEV_SSH_PORT }}
          source: "aiot-api.tar"          # 여기서는 깔끔하게 상대 경로
          target: ${{ secrets.SERVER_PATH }}

      - name: Deploy on server with docker compose
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.PLX_DEV_DOMAIN }}
          username: ${{ secrets.PLX_DEV_USER }}
          password: ${{ secrets.PLX_DEV_PASSWORD }}
          port: ${{ secrets.PLX_DEV_SSH_PORT }}
          script: |
            cd ${{ secrets.SERVER_PATH }}
            chmod +x deploy.sh
            ./deploy.sh
